<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-warning fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div
          class="col-md-4 col-sm-12 col-12 col col-one pt-5 pb-5 flex-container"
        >
          <h1 class="title-edu">Education</h1>
          <div class="container dd">
            <div class="column-1-dd">
              <img class="dd" src="{% static 'dd.png' %}" alt="DD" />
            </div>
            <div class="column-2-dd">
              <h2 class="wr dd">SDI Diandidaktika</h2>
            </div>
          </div>
          <div class="container mts">
            <div class="column-1-mts">
              <img class="mts" src="{% static 'mts.png' %}" alt="MTS" />
            </div>
            <div class="column-2-mts">
              <h2 class="wr mts">MtsN4 Jakarta</h2>
            </div>
          </div>
          <div class="container man">
            <div class="column-1-man">
              <img class="man" src="{% static 'man.png' %}" alt="MAN" />
            </div>
            <div class="column-2-man">
              <h2 class="wr man">MAN7 Jakarta</h2>
            </div>
          </div>
          <div class="container ui">
            <div class="column-1-ui">
              <img class="ui" src="{% static 'ui.png' %}" alt="UI" />
            </div>
            <div class="column-2-ui">
              <h2 class="wr ui">Universitas Indonesia</h2>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12 col-12 col col-two pt-5 pb-5 flex-container"
        >
          <h1 class="title-others">Organizations</h1>
          <div class="column-bem">
            <img class="bem" src="{% static 'bem.png' %}" alt="BEM" />
            <h2>BEM Fasilkom UI Scientifict Department</h2>
          </div>
          <div class="column-compfest">
            <img
              class="clip-circle compfest"
              src="{% static 'compfest.jpg' %}"
              alt="compfest"
            />
            <h2>Compfest 12 Editorial Marketing</h2>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12 col-12 col col-three pt-5 pb-5 flex-container"
        >
          <h1 class="title-others">Projects</h1>
          <div class="column-gitlab">
            <img class="gitlab" src="{% static 'gitlab.png' %}" alt="gitlab" />
            <h2 class="wr gitlab">Check My Projects at Gitlab</h2>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
