<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-primary bg-warning fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div
          class="col-md-12 col-sm-12 col-12 col top pt-5 pb-5 flex-container"
        >
          <div
            class="col-md-12 col-sm-12 col-12 col col-gw pt-5 pb-5 flex-container"
          >
            <img src="{% static 'FR41.png' %}" alt="Gw" class="img-fluid gw" />
            <section id="section1">
              <h1 class="wr gw one">Hi, I'm Hanif</h1>
              <h1 class="wr gw two">Computer Science Student</h1>
              <h1 class="wr gw three">From Jakarta</h1>
            </section>
          </div>
        </div>
        <div
          class="col-md-12 col-sm-12 col-12 col bottom pt-5 pb-5 flex-container"
        >
          <img
            src="{% static 'hcss.svg' %}"
            alt="hcss"
            class="img-fluid hcss"
          />
          <img src="{% static 'js.svg' %}" alt="js" class="img-fluid js" />
          <img
            src="{% static 'python.svg' %}"
            alt="python"
            class="img-fluid python"
          />
          <img
            src="{% static 'java.svg' %}"
            alt="java"
            class="img-fluid java"
          />
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
