.navbar {
  background-color: #e63946 !important;
}
.navbar .navbar-nav li a {
  color: #f1faee;
}

.row {
  height: 100vh;
}

.col-md-4.col-one {
  background-color: #f1faee;
}

.col-md-4.col-two {
  background-color: #caf0f8;
}

.col-md-4.col-three {
  background-color: #ade8f4;
}

.wr {
  color: #1d3557;
}

.title-edu {
  font-size: 3vw;
  text-align: center;
  margin-top: 1.5vh;
  color: #1d3557;
}

.title-others {
  font-size: 3vw;
  text-align: center;
  margin-top: 1.5vh;
  color: #1d3557;
}

.dd {
  max-width: 100%;
  height: auto;
  width: 90%;

  float: left;
}

.container.dd {
  margin-top: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.column-1-dd,
.column-2-dd {
  float: left;
  width: 50%;
}

.wr.dd {
  color: #1d3557;
  width: 50%;
}

.mts {
  max-width: 100%;
  height: auto;
  width: 85%;

  float: left;
}

.container.mts {
  margin-top: 10%;
  margin-left: 2%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.column-1-mts,
.column-2-mts {
  float: left;
  width: 50%;
}

.wr.mts {
  color: #1d3557;
  width: 50%;
}

.man {
  max-width: 100%;
  height: auto;
  width: 88%;

  float: left;
}

.container.man {
  margin-top: 9%;
  margin-left: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.column-1-man,
.column-2-man {
  float: left;
  width: 50%;
}

.wr.man {
  color: #1d3557;
  width: 50%;
}

.ui {
  max-width: 100%;
  height: auto;
  width: 88%;

  float: left;
}

.container.ui {
  margin-top: 12%;
  margin-left: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.column-1-ui,
.column-2-ui {
  float: left;
  width: 50%;
}

.wr.ui {
  color: #1d3557;
  width: 50%;
}

.column-bem {
  margin-top: 15%;
  margin-left: 25%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.bem {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.column-compfest {
  margin-top: 5%;
  margin-left: 15%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.clip-circle.compfest {
  clip-path: circle(125px at 205px 205px);
  margin-bottom: -13%;
}

.column-gitlab {
  margin-top: 15%;
  margin-left: 12%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.gitlab {
  width: 150%;
  margin-bottom: 5%;
}

.wr.gitlab {
  text-align: center;
}

.column-kedin {
  margin-top: 30%;
  margin-left: 13%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.kedin {
  width: 122%;
}

.wr.kedin {
  margin-top: -1%;
  margin-left: -2%;
  font-size: 3vw;
}

.column-line {
  margin-top: 30%;
  margin-left: 13%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.line {
  width: 91%;
}

.wr.line {
  margin-left: -2%;
  margin-top: -2%;
  font-size: 3vw;
}

.column-email {
  margin-top: 30%;
  margin-left: 5%;
  vertical-align: top;
  display: inline-table;
  text-align: center;
  width: 50%;
  float: top;
}

.email {
  width: 67%;
}

.wr.email {
  margin-left: -2%;
  margin-top: 0%;
  font-size: 3vw;
}

.col-md-4.col-cont {
  background-color: #f1faee;
  align-items: center;
}

.top {
  background-color: #f1faee;
  height: 55vh;
  width: 100%;
}

.bottom {
  height: 50vh;
  width: 100%;
  background-color: #a8dadc;
  display: flex;
}

.body {
  background-color: #f1faee;
}

.col-gw {
  display: flex;
  align-items: center;
}

.wr.gw {
  margin-left: 10%;
}

.wr.gw.one {
  font-size: 7vw;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.wr.gw.two {
  font-size: 3vw;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.wr.gw.three {
  margin-top: -2%;
  font-size: 3vw;
}

.gw {
  max-height: 50%;
  margin-top: 0.5%;
  margin-left: 20%;
}

.bottom {
  align-items: center;
}

.hcss,
.js,
.python,
.java {
  max-height: 120%;
  max-width: 19%;
  height: 120%;
  width: 19%;
  margin-top: -2%;
}

.java {
  margin-top: -3.2%;
}

.hcss {
  margin-left: 12.5%;
}

@media (max-width: 767px) {
  .title-edu {
    font-size: 10vw;
  }

  .title-others {
    margin-top: -6vh;
    font-size: 10vw;
  }

  .column-compfest {
    margin-left: 22%;
  }

  .clip-circle.compfest {
    clip-path: circle(140px at 205px 205px);
    margin-bottom: -10%;
  }

  .kedin {
    margin-left: 13%;
  }

  .line {
    margin-left: 13%;
    width: 123%;
  }

  .email {
    margin-left: 25%;
    width: 123%;
  }

  .wr.kedin,
  .wr.line,
  .wr.email {
    font-size: 5vw;
  }

  .wr.kedin {
    margin-left: 13%;
  }

  .wr.line {
    margin-left: 13%;
  }

  .wr.email {
    margin-left: 25%;
  }

  .top {
    height: 80vh;
  }

  .bottom {
    height: 30vh;
  }

  .col-gw {
    display: inline-table;
    align-items: center;
  }

  .gw {
    margin-left: 25%;
  }

  .wr.gw.one {
    margin-left: 18%;
  }

  .wr.gw.one {
    font-size: 10vw;
  }

  .wr.gw.two,
  .wr.gw.three {
    font-size: 6vw;
  }

  .wr.gw.two {
    margin-left: 10%;
  }

  .wr.gw.three {
    margin-left: 28%;
  }
}
